{
    "openapi": "3.0.0",
    "info": {
        "title": "FWBER API",
        "description": "API Documentation for FWBER Application",
        "contact": {
            "email": "admin@fwber.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/analytics": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Platform analytics overview",
                "description": "Get comprehensive analytics data",
                "operationId": "4aa6ce5a42da56132ee7d769968b58f7",
                "parameters": [
                    {
                        "name": "range",
                        "in": "query",
                        "description": "Time range (1d, 7d, 30d, 90d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "1d",
                                "7d",
                                "30d",
                                "90d"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analytics payload"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/slow-requests": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "List slow requests",
                "description": "Get slow requests list",
                "operationId": "f33d9cacff985109e8fcb7ce329c9136",
                "responses": {
                    "200": {
                        "description": "List of slow requests"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/slow-requests/stats": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Aggregated slow request statistics",
                "description": "Get slow request statistics",
                "operationId": "4048043a0ed393f206d30372bda5e9e2",
                "responses": {
                    "200": {
                        "description": "Aggregated stats"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/slow-requests/analysis": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Analyze slow requests for optimization opportunities",
                "description": "Analyze slow requests and provide actionable insights",
                "operationId": "6ca9c9ac6f931257f30e18882a1a3c0f",
                "responses": {
                    "200": {
                        "description": "Analysis insights"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/realtime": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Real-time metrics",
                "description": "Get real-time metrics",
                "operationId": "437eac7ed995619e5b2aee7507b5dad6",
                "responses": {
                    "200": {
                        "description": "Realtime metrics payload"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/moderation": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Moderation insights",
                "description": "Get moderation insights",
                "operationId": "b36fc3915d7b6699b24ec689b534109d",
                "responses": {
                    "200": {
                        "description": "Moderation insights payload"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/boosts": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "Boost analytics",
                "description": "Get boost analytics",
                "operationId": "f953949aa62e8d282230e576f1fb8d47",
                "responses": {
                    "200": {
                        "description": "Boost analytics payload"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analytics/retention": {
            "get": {
                "tags": [
                    "Analytics"
                ],
                "summary": "User retention cohorts",
                "description": "Get retention analytics (Cohort Analysis)",
                "operationId": "16af5bdc3c0760183fa24c863e3e78b6",
                "responses": {
                    "200": {
                        "description": "Retention payload"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/blocks": {
            "get": {
                "tags": [
                    "Safety"
                ],
                "summary": "List blocked users",
                "operationId": "8a75f5f515b92eef2d0a9ed8f86da2ca",
                "responses": {
                    "200": {
                        "description": "List of blocked users"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Safety"
                ],
                "summary": "Block a user",
                "operationId": "528dcbea494afbfbec604f82e6e943ee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "user_id"
                                ],
                                "properties": {
                                    "user_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User blocked"
                    },
                    "422": {
                        "description": "Cannot block yourself"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/blocks/{userId}": {
            "delete": {
                "tags": [
                    "Safety"
                ],
                "summary": "Unblock a user",
                "operationId": "87623349001ed18405124bf7654e2fc8",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User unblocked"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/boosts/purchase": {
            "post": {
                "tags": [
                    "Boosts"
                ],
                "summary": "Purchase a profile boost",
                "description": "Purchase a profile boost",
                "operationId": "85d8a75c2d69bb04e63016f12bee8714",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "standard",
                                            "super"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Boost purchased successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Boost"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "User already has an active boost"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/boosts/active": {
            "get": {
                "tags": [
                    "Boosts"
                ],
                "summary": "Get user's active boost",
                "description": "Get active boost",
                "operationId": "78704691d24a90ef2dde4e652294f3c4",
                "responses": {
                    "200": {
                        "description": "Active boost details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Boost"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No active boost found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/boosts/history": {
            "get": {
                "tags": [
                    "Boosts"
                ],
                "summary": "Get user's boost history",
                "description": "Get boost history",
                "operationId": "a685ff698ee53920d5ed77ef6fe5493f",
                "responses": {
                    "200": {
                        "description": "List of past boosts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Boost"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/bulletin-boards": {
            "get": {
                "tags": [
                    "Bulletin Boards"
                ],
                "summary": "List nearby bulletin boards",
                "description": "Get bulletin boards near a location",
                "operationId": "66256b88ec267b940ae0b525668561d0",
                "parameters": [
                    {
                        "name": "lat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "maximum": 90,
                            "minimum": -90
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "maximum": 180,
                            "minimum": -180
                        }
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "Meters (default 5000)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 50000,
                            "minimum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Nearby boards",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "boards": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "user_location": {
                                            "properties": {
                                                "lat": {
                                                    "type": "number"
                                                },
                                                "lng": {
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "search_radius": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Bulletin Boards"
                ],
                "summary": "Create or find a board for a location",
                "description": "Create or find a bulletin board for a location",
                "operationId": "24e2b73d743c19c00a23f61cb556b9ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "lat",
                                    "lng"
                                ],
                                "properties": {
                                    "lat": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "lng": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "radius": {
                                        "type": "integer",
                                        "maximum": 5000,
                                        "minimum": 100
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Found/created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "board": {
                                            "type": "object"
                                        },
                                        "created": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/bulletin-boards/{id}": {
            "get": {
                "tags": [
                    "Bulletin Boards"
                ],
                "summary": "Get bulletin board by ID",
                "description": "Get a specific bulletin board with messages",
                "operationId": "b01ecd4463e369ef47322f2a5f42d107",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "lng",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Board and messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "board": {
                                            "type": "object"
                                        },
                                        "messages": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/bulletin-boards/{boardId}/messages": {
            "get": {
                "tags": [
                    "Bulletin Boards"
                ],
                "summary": "List messages for a board",
                "description": "Get messages for a bulletin board (with pagination)",
                "operationId": "eefb2f5cd0a1bbbffcfe5a1ff9906198",
                "parameters": [
                    {
                        "name": "boardId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "messages": {
                                            "type": "object"
                                        },
                                        "board": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "post": {
                "tags": [
                    "Bulletin Boards"
                ],
                "summary": "Post a message",
                "description": "Post a message to a bulletin board",
                "operationId": "86220bb3d4edda38515bbbcabd4fc581",
                "parameters": [
                    {
                        "name": "boardId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content",
                                    "lat",
                                    "lng"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "maxLength": 1000
                                    },
                                    "is_anonymous": {
                                        "type": "boolean"
                                    },
                                    "expires_in_hours": {
                                        "type": "integer",
                                        "maximum": 168,
                                        "minimum": 1
                                    },
                                    "lat": {
                                        "type": "number"
                                    },
                                    "lng": {
                                        "type": "number"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "object"
                                        },
                                        "board": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "400": {
                        "description": "Validation error"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "List chatrooms",
                "description": "Get all available chatrooms with filtering",
                "operationId": "c6a9f280c28d4c2dd2c12d83631e42dd",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "interest",
                                "city",
                                "event",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "activity",
                                "newest",
                                "most_active",
                                "most_members"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated chatrooms list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Chatroom"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Create chatroom",
                "description": "Create a new chatroom",
                "operationId": "282c14705f85d52f2ee347c648327ac1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "description": {
                                        "type": "string",
                                        "maxLength": 500
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "interest",
                                            "city",
                                            "event",
                                            "private"
                                        ]
                                    },
                                    "category": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "neighborhood": {
                                        "type": "string"
                                    },
                                    "is_public": {
                                        "type": "boolean"
                                    },
                                    "settings": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Chatroom"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{id}": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Get a chatroom",
                "description": "Get a specific chatroom with messages",
                "operationId": "ba11ff674ca14d485c94c2c19f10c265",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chatroom and recent messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "chatroom": {
                                            "$ref": "#/components/schemas/Chatroom"
                                        },
                                        "messages": {
                                            "$ref": "#/components/schemas/PaginatedChatMessages"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Update",
                "description": "Update chatroom settings (admin/moderator only)",
                "operationId": "f8618be5312c7b74f4246bc79125dead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "description": {
                                        "type": "string",
                                        "maxLength": 500
                                    },
                                    "is_public": {
                                        "type": "boolean"
                                    },
                                    "settings": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated chatroom",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Chatroom"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Delete",
                "description": "Delete chatroom (creator only)",
                "operationId": "bd557ea2a13f29965657a19e863291df",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{id}/join": {
            "post": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Join",
                "description": "Join a chatroom",
                "operationId": "abbd1b76d8078f3eaa27db4e07047918",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Joined",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Already member"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{id}/leave": {
            "post": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Leave",
                "description": "Leave a chatroom",
                "operationId": "85fabffc00ad93a1b9c0ab8a3a51b724",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Left",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not a member"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{id}/members": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Members",
                "description": "Get chatroom members",
                "operationId": "db9252cc388367e3be41d5a3e6ba31c6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated members"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/my": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "My chatrooms",
                "description": "Get user's chatrooms",
                "operationId": "93c7621ecb4e83021e49764d8e599ccb",
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Chatroom"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/categories": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Categories",
                "description": "Get chatroom categories",
                "operationId": "73072033f79437354d610a4a78843d9f",
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Chatroom"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/popular": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Popular",
                "description": "Get popular chatrooms",
                "operationId": "62412b6ab7fd6834907957a9014ada8c",
                "responses": {
                    "200": {
                        "description": "List"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/search": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Search",
                "description": "Search chatrooms",
                "operationId": "e74f56654e781eceae418270c3e18fdf",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "interest",
                                "city",
                                "event",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated results"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{chatroomId}/messages": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "List chatroom messages",
                "description": "Get messages for a chatroom",
                "operationId": "588f1c047651a12787e42ea996d2bab3",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "pinned",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "announcements",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated messages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedChatMessages"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Send message",
                "description": "Send a message to a chatroom",
                "operationId": "b6751d651bf867c8a0f05c304e996441",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "maxLength": 2000
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "text",
                                            "image",
                                            "file",
                                            "announcement"
                                        ]
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChatMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ModerationError"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{chatroomId}/messages/{messageId}": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Get message",
                "description": "Get a specific message",
                "operationId": "84fe1a7091efda73beab178b60143e49",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChatMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Edit message",
                "description": "Edit a message",
                "operationId": "b44a97f626f8cfbd104af3a9c3e52464",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "maxLength": 2000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChatMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ModerationError"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Delete message",
                "description": "Delete a message",
                "operationId": "afc27dbe902e46a1381897720b140140",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{chatroomId}/messages/{messageId}/reactions": {
            "post": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Add reaction",
                "description": "Add reaction to a message",
                "operationId": "9acc7ba8068ef70b8c8fe163a0289ce6",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "emoji"
                                ],
                                "properties": {
                                    "emoji": {
                                        "type": "string",
                                        "maxLength": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Remove reaction",
                "description": "Remove reaction from a message",
                "operationId": "a1a8e80eb555442ca4201b62ee475faa",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "emoji"
                                ],
                                "properties": {
                                    "emoji": {
                                        "type": "string",
                                        "maxLength": 10
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Removed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{chatroomId}/messages/{messageId}/pin": {
            "post": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Pin message",
                "description": "Pin a message (moderator only)",
                "operationId": "5ddc7d60f194c4ee8ea4424a49a49053",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pinned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Unpin message",
                "description": "Unpin a message (moderator only)",
                "operationId": "d297e4260c8b89db7aa6baa9065ab251",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Unpinned",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimpleMessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{chatroomId}/messages/pinned": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Pinned messages",
                "description": "Get pinned messages for a chatroom",
                "operationId": "6ed1b9457030ad4c252854abb7e45d1a",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ChatMessage"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/chatrooms/{chatroomId}/messages/{messageId}/replies": {
            "get": {
                "tags": [
                    "Chatrooms"
                ],
                "summary": "Message replies",
                "description": "Get message replies",
                "operationId": "5f175ef6c1876edf8e155f1aec767395",
                "parameters": [
                    {
                        "name": "chatroomId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "messageId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ChatMessage"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/config/features": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Get feature flags",
                "description": "Returns current state of all feature flags. Requires moderator access.",
                "operationId": "getFeatureFlags",
                "responses": {
                    "200": {
                        "description": "Feature flags retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "features": {
                                            "type": "object"
                                        },
                                        "source": {
                                            "type": "string",
                                            "example": "config"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Update feature flags",
                "description": "Updates feature flag states at runtime. Changes are cached and will reset on cache clear. Requires moderator access.",
                "operationId": "updateFeatureFlags",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "features": {
                                        "description": "Feature flags to update",
                                        "type": "object",
                                        "example": {
                                            "chatrooms": true,
                                            "recommendations": false
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Feature flags updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Feature flags updated"
                                        },
                                        "features": {
                                            "type": "object"
                                        },
                                        "updated": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/config/health": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "Get system health",
                "description": "Returns health status of various system components including Mercure.",
                "operationId": "getSystemHealth",
                "responses": {
                    "200": {
                        "description": "Health status retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mercure": {
                                            "properties": {
                                                "configured": {
                                                    "type": "boolean"
                                                },
                                                "public_url": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "healthy"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "cache": {
                                            "properties": {
                                                "driver": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "queue": {
                                            "properties": {
                                                "driver": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "timestamp": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/profile": {
            "post": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Generate profile content",
                "description": "AI-generated profile bio, about section, and interests based on user preferences",
                "operationId": "3076ebc75f434e8f60da132c70ce2cd7",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "personality": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "example": "Outgoing and adventurous"
                                    },
                                    "interests": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "goals": {
                                        "type": "string",
                                        "maxLength": 1000,
                                        "example": "Looking for meaningful connections"
                                    },
                                    "style": {
                                        "type": "string",
                                        "enum": [
                                            "casual",
                                            "professional",
                                            "humorous",
                                            "romantic"
                                        ],
                                        "example": "casual"
                                    },
                                    "target_audience": {
                                        "type": "string",
                                        "example": "25-35 year olds"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile content generated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "generated_at": {
                                            "type": "string",
                                            "format": "date-time"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/posts/{boardId}/suggestions": {
            "post": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Generate post suggestions",
                "description": "AI-generated post ideas for a bulletin board based on context",
                "operationId": "5c7e7ba0fb924292e0cb35d235c7ca1f",
                "parameters": [
                    {
                        "name": "boardId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "context": {
                                        "properties": {
                                            "location": {
                                                "type": "object"
                                            },
                                            "time": {
                                                "type": "string"
                                            },
                                            "topics": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post suggestions generated"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/conversation-starters": {
            "post": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Generate conversation starters",
                "description": "AI-generated conversation openers based on context and match data",
                "operationId": "e7a467147966ee751880922fb56cc2bc",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "context": {
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "general",
                                                    "romantic",
                                                    "casual",
                                                    "professional"
                                                ]
                                            },
                                            "target_user": {
                                                "type": "object"
                                            },
                                            "previous_messages": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object"
                                                }
                                            },
                                            "hints": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Conversation starters generated"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/optimize": {
            "post": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Optimize content",
                "description": "AI-powered content optimization for engagement, clarity, safety, and relevance",
                "operationId": "4812898876a2008c0d72957d4ba78f4c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "maxLength": 2000,
                                        "example": "Original content to optimize"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "optimization_types": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "engagement",
                                                "clarity",
                                                "safety",
                                                "relevance"
                                            ]
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Content optimized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ContentOptimizationResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/stats": {
            "get": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Get generation statistics",
                "description": "Retrieve statistics about AI content generation usage and performance",
                "operationId": "21b2f3a040ba5c63ee1a8428b37d7df3",
                "responses": {
                    "200": {
                        "description": "Generation statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenerationStatsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/optimization-stats": {
            "get": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Get optimization statistics",
                "description": "Retrieve statistics about content optimization usage and improvements",
                "operationId": "b96de608df98647d17062569000a8e3d",
                "responses": {
                    "200": {
                        "description": "Optimization statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OptimizationStatsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/feedback": {
            "post": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Submit content feedback",
                "description": "Provide feedback on AI-generated content to improve future suggestions",
                "operationId": "16d8c9403e1a2c7a6506a3ac6d45130a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "suggestion_id",
                                    "content_type",
                                    "rating"
                                ],
                                "properties": {
                                    "suggestion_id": {
                                        "type": "string",
                                        "format": "uuid"
                                    },
                                    "content_type": {
                                        "type": "string",
                                        "enum": [
                                            "profile",
                                            "post_suggestion",
                                            "conversation_starter"
                                        ]
                                    },
                                    "rating": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": 4
                                    },
                                    "feedback": {
                                        "type": "string",
                                        "maxLength": 1000
                                    },
                                    "improvements": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Feedback submitted"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/content-generation/history": {
            "get": {
                "tags": [
                    "Content Generation"
                ],
                "summary": "Get generation history",
                "description": "Retrieve user's AI content generation history with pagination",
                "operationId": "16e1ea75fc0f6c89cd2651aae77afd15",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 100
                        }
                    }
                ],
[...]
