/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.backup
.env.local
.env.testing
.phpunit.result.cache
/storage/*.key
.idea
.vscode
*.iml
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
/fwber
/fwber-backend/fwber
/fwber-backend/database/testing.sqlite
/fwber-backend/database/testing.sqlite-shm
/fwber-backend/database/testing.sqlite-wal
/coverage
/fwber-frontend/.next
/fwber-frontend/out
/fwber-frontend/build
__pycache__/
*.pyc
