progress.analytics-progress {
  width: 100%;
  height: 0.5rem;
  border-radius: 9999px;
  background-color: #e5e7eb;
  overflow: hidden;
  appearance: none;
}

progress.analytics-progress::-webkit-progress-bar {
  background-color: #e5e7eb;
  border-radius: 9999px;
}

progress.analytics-progress::-webkit-progress-value {
  border-radius: 9999px;
}

progress.analytics-progress::-moz-progress-bar {
  border-radius: 9999px;
}

progress.analytics-progress.blue::-webkit-progress-value,
progress.analytics-progress.blue::-moz-progress-bar {
  background-color: #2563eb;
}

progress.analytics-progress.green::-webkit-progress-value,
progress.analytics-progress.green::-moz-progress-bar {
  background-color: #16a34a;
}

progress.analytics-progress.purple::-webkit-progress-value,
progress.analytics-progress.purple::-moz-progress-bar {
  background-color: #7c3aed;
}

progress.analytics-progress.orange::-webkit-progress-value,
progress.analytics-progress.orange::-moz-progress-bar {
  background-color: #ea580c;
}
