apiVersion: apps/v1
kind: Deployment
metadata:
  name: fwber-nginx
  namespace: fwber
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fwber-nginx
  template:
    metadata:
      labels:
        app: fwber-nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: default.conf
      volumes:
      - name: nginx-config
        configMap:
          name: fwber-nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: fwber-nginx
  namespace: fwber
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: fwber-nginx
